@import url(./global-query.css);

.alert-container,
.question-container{
    position: absolute;
    display: none;
    top: 85px;
    right: 10px;
    z-index: 9;
}
.alert-container.active,
.question-container.active{
    display: block; 
}
.alert-container .alert-content,
.question-container .question-content{
    max-width: 300px;
    gap: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--col5);
    background-color: var(--col1);
}
.alert-container .alert-content.success{
    border: 1px solid var(--col6);
}
.alert-container .alert-content.success .alert-icon i{
    color: var(--col6);
    font-size: 20pt;
}
.alert-container .alert-content.failed{
    border: 1px solid var(--col5);
}
.alert-container .alert-content.failed .alert-icon i{
    color: var(--col5);
    font-size: 20pt;
}
.alert-container .alert-content .alert-text p,
.question-container .question-content .question-text p{
    font-size: 10pt;
}
.question-container .question-content.response{
    border: 1px solid var(--col7);
}
.question-container .question-content.response .question-icon i{
    color: var(--col7);
    font-size: 20pt;
}
.question-container .question-content .question-response{
    gap: 10px;
    display: flex;
}
.question-container .question-content .question-response strong{
    cursor: pointer;
}