form{
     gap: 20px;
     display: flex;
     flex-direction: column;
}
form .each-title{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
form .each-title i{
     font-size: 20pt;
     cursor: pointer;
     color: var(--col3);
}
form .each-input{
     gap: 5px;
     display: flex;
     flex-direction: column;
}
form .each-input input,
form .each-input select,
form .each-button button,
form .each-input textarea{
     width: 100%;
     max-width: 400px;
     height: 40px;
     padding: 0 10px;
     outline: none;
     background: none;
     color: var(--col3);
     font-family: "Open Sans";
     border-radius: 5px;
     border: 1px solid var(--col3);
}
form .each-input textarea{
     height: 120px;
     resize: none;
}
form .each-button button{
     cursor: pointer;
     color: var(--col1);
     background-color: var(--col3);
}