*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Pop;
    src: url(../font/Poppins-Regular.ttf);
}
a{
    text-decoration: none;
}
body{
    max-width: 2160;
    margin: 0 auto;
    font-size: 12pt;
    font-family: Pop;
    overflow: auto;
    scrollbar-width: none;
    color: #0a0a0a;
}
body::-webkit-scrollbar{
    display: none;
}