@import url(./form.css);
@import url(./table.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Pop;
    src: url(../font/Poppins-Regular.ttf);
}
a{
    text-decoration: none;
}
body{
    max-width: 2160;
    margin: 0 auto;
    font-size: 12pt;
    font-family: Pop;
    overflow: auto;
    scrollbar-width: none;
    color: #0a0a0a;
}
body::-webkit-scrollbar{
    display: none;
}
:root{
    --col1: #fff;
    --col2: #464646;
    --col3: rgb(50, 70, 100);   
    --col4: rgb(80, 100, 130);  
    --col5: #c72a3d ;
    --col6: #5dc679; 
    --col7: #dfc95a; 
}
i{
    display: flex;
    align-items: center;
    justify-content: center;
}