.table-container{
     width: 250px;
     min-width: 100%;
     padding: 10px;
     gap: 10px;
     display: flex;
     flex-direction: column;
     background-color: var(--background-primary);
}
.table-container .table-content{
     width: 100%;
     overflow: hidden;
     overflow-x: auto;
}
.table-container .table-content table{
     min-width: 100%;
}
.table-container .table-content table,
.table-container .table-content table thead th,
.table-container .table-content table tbody td{
     width: max-content;
     padding: 10px 5px;
     text-align: center;
     /* text-wrap: nowrap; */
     border-collapse: collapse;
     border-bottom: 1px solid var(--col2);
}
.table-container .table-content table thead{
     color: var(--col1);
     background-color: var(--col3);
}
.table-container .table-content table tbody td:nth-child(2){
    width: 75%;
}
.table-container .table-content table tbody td p{
     display: -webkit-box;
}

.table-container .table-content table tbody td .btn{
     gap: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.table-container .table-content table tbody td .btn i{
     font-size: 15pt;
     cursor: pointer;
}